# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# User secrets (important)
secrets.json

# App settings (if needed later)
appsettings.Development.json
appsettings.Production.json